.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(34, 34, 34);
}

.video-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: calc(var(--width) * var(--cols));
    background-color: rgb(48, 48, 48);
}

.child-wrapper {
    background-color: rgb(74, 74, 74);
    border: 1px solid rgb(142, 142, 142);
}
