.outer-box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding);
}

.inner-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: calc(var(--width) * var(--cols));
}

.tile {
    padding: var(--padding);
}
